.metadata
*.db
build
src/main/webapp/node_modules
src/main/resources/static
src/main/resources/*.json
src/main/resources/*.ico
src/main/resources/*.html
src/main/resources/*.png
src/main/resources/*.txt

# Eclipse
.classpath
.project
.settings/

# Intellij
*.iml
.idea/

# Gradle
.gradle
/build/

# Other
log/
*.log
bin/
logs/

# Project Specific
testeronii.txt
