@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  grid-template-columns: auto auto;
  min-height: 100vh;
  display: grid;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.col-right {
  grid-column-start: 1;
  padding: 20px;
}

.col-left {
  grid-column-start: 2;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

button {
  background: #61dafb;
  color: black;
  font-size: calc(5px + 2vmin);
  height: 30px;
}

iframe {
  width: 100%;
  min-height: 80vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
