<h3 class="mt-4">API protos</h3>

<h4 id="example001"><a href="eg001">Embedded signing</a></h4>
<p>API methods used:
    <a target='_blank' href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/create">Envelopes::create</a>
    and
    <a target='_blank'
       href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeViews/createRecipient">EnvelopeViews::createRecipient</a>.
</p>

<h4 id="example004"><a href="eg004">View envelope's info and status</a></h4>
<p>API method used:
    <a target='_blank' href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/get">Envelopes::get</a>.
</p>

<h4 id="example005"><a href="eg005">View envelope's recipients and status</a></h4>
<p>API method used:
    <a target='_blank'
       href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeRecipients/list">EnvelopeRecipients::list</a>.
</p>

<h4 id="example011"><a href="eg011">Embedded sending</a></h4>
<p>API methods used:
    <a target='_blank' href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/create">Envelopes::create</a>,
    <a target='_blank'
       href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeViews/createSender">EnvelopeViews::createSender</a>.

<h4 id="example012"><a href="eg012">Embedded DocuSign web tool</a></h4>
<p>API method used:
    <a target='_blank'
       href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeViews/createConsole">EnvelopeViews::createConsole</a>.
</p>